@model List<WebApplication1.Models.Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our comment</h2>

<br />

<div>
    <table border="1">
        <tr>
            <td>Body</td>
            <td>Post id</td>
            <td>Likes</td>
            <td>Created at</td>
        </tr>
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.Body</td>
            <td>@item.PostId</td>
            <td>@item.Likes</td>
            <td>@item.CreatedAt</td>
        </tr>
        }
    </table>
</div>
